a {
    color: inherit;
    text-decoration: none;
}

.flex {
    display: flex;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.flex-grow {
    flex-grow: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.main {
    padding: 20px;
}
